---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'; // Asegúrate que el archivo se llame Navbar.astro
import Hero from '../components/Hero.astro';
import AboutUs from '../components/AboutUs.astro';
import StepsSection from '../components/StepsSection.astro';
import Testimonials from '../components/Testimonials.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <Navbar />
    <div id="inicio">
    <Hero />
    </div>
    <div id="nosotros" class=" md:scroll-mt-15">
    <AboutUs />
    </div>
    <div id="pasos">
    <StepsSection />
    </div>
    <div id="testimonios" class="scroll-mt-20">
    <Testimonials />
    </div>
    <Footer />
</Layout>