<header class="relative w-full h-[60vh] flex items-center justify-center overflow-hidden bg-[#000000] z-20 shadow-[0_35px_60px_-15px_rgba(0,0,0,0.6)]">
    
    <div class="absolute inset-0 opacity-50 bg-[url('/images/navbar1.webp')] bg-cover bg-center"></div>
    
    <div class="relative z-10 text-center px-4 mt-16">
      <p class="text-picnic-gold tracking-[0.3em] uppercase text-xs md:text-sm mb-4 animate-fade-in-up">
        2026
      </p>
      <h1 class="text-5xl md:text-7xl text-white font-serif mb-6 drop-shadow-lg">
        Catálogo
      </h1>
      <div class="w-20 h-[1px] bg-picnic-gold mx-auto"></div>
    </div>
</header>