---
import '../styles/global.css'; 
import Preloader from '../components/Preloader.astro';
import CheckOutForm from '../components/CheckOutForm.astro';

// Recibimos el título de cada página
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg?=2" />
        <meta name="generator" content={Astro.generator} />
        
        <title>{title || "Love Picnic"}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
    </head>
    <body>
        <Preloader />
        <slot />
        <CheckOutForm />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        font-family: 'Montserrat', sans-serif; /* Aseguramos que use la fuente */
    }
</style>